// Settings for the pipeline

// WORKFLOW
// --------
// "hybrid" = Run hybrid assembly to build plasmids
// "nanopore" = Only run nanopore part of pipeline
// "illumina" = Only run illumina part of pipeline
params.track="hybrid"

// GENERAL
// -------
// Input
params.reads="/cluster/projects/nn9305k/active/thhaverk/nextflow/test_data/hybrid_data/illumina/2016-02-522{_R1,_R2}.fastq.gz"
params.longreads="/cluster/projects/nn9305k/active/thhaverk/nextflow/test_data/hybrid_data/nanopore/2016-02-522.fastq.gz"




//Specify the FLOWCELL and SEQUECING KIT that were used for nanopore sequencing, this is for qcat and nanofilt steps:
// Possible flowcells to use: FLO-FLG001, FLO-MIN106, FLO-FLG001, FLO-MIN106, FLO-MIN107, FLO-MIN110, FLO-PRO001, FLO-PRO002, FLO-PRO001,
// FLO-PRO002, FLO-PRO111, FLO-MIN107, FLO-MIN111
// Possible SEQUENCING KITS: SQK-16S024, SQK-CAS109, SQK-CS9109, SQK-DCS108, SQK-DCS109, SQK-LRK001, SQK-LSK108, SQK-LSK109, SQK-LSK109-XL, SQK-LSK110,
// SQK-LSK308, SQK-LSK309, SQK-LSK319, SQK-LWB001, SQK-LWP001, SQK-PBK004, SQK-PCB109, SQK-PCS108, SQK-PCS109, SQK-PRC109, SQK-PSK004, SQK-RAB201,
// SQK-RAB204, SQK-RAD002, SQK-RAD003, SQK-RAD004, SQK-RAS201, SQK-RBK001, SQK-RBK004, SQK-RLB001, SQK-RLI001, SQK-RNA001, SQK-RNA002, SQK-RPB004,
// VSK-VBK001, VSK-VMK001, VSK-VMK002, VSK-VSK001, VSK-VSK002
// use like this: params.flowcell="FLO-FLG001"
//params.flowcell="FLO-MIN107"
//params.seqkit="SQK-LSK109"


//Specify the BARCODE kit used for nanopore multiplexing samples, if you are unsure use "Auto".
// possible kits to use: Auto,PBC096,RAB214,DUAL,PBC001,NBD104/NBD114,NBD103/NBD104,PBK004/LWB001,RAB204/RAB214,NBD114,RAB204,RBK004,VMK001,RBK001,RPB004/RLB001
// use like this: params.barcode="PBC096"
//params.barcode="Auto"


//kraken database location
params.kraken1.dir = "/cluster/shared/biobases/classification_dbs"
params.kraken1.db = "minikraken_20171101_4GB_dustmasked"


// Trimmomatic settings
// Trimmomatic configuration variables
params.illuminaClipOptions = "2:30:10"
// If you are using CROP/HEADCROP, insert the full command in the slidingwindow text string.
params.slidingwindow = "4:15"
params.leading = 3
params.trailing = 3
params.minlen = 40
params.adapters = "TruSeq3-PE.fa"  // check which adapters were used.
params.adapter_dir = "/cluster/projects/nn9305k/db_flatfiles/trimmomatic_adapters"
