manifest {
    author = 'Thomas Haverkamp'
    description = 'FullForcePlasmidAssembler: A python pipeline rewritten in Nextflow. The original pipeline can be found here: https://github.com/MBHallgren/FullForcePlasmidAssembler'
    homePage = 'https://github.com/Thomieh73/FFPA_nextflow'
    nextflowVersion = '>=20.07.1'
}

// location of module files:
params.module_dir="./modules"

// all processes are run as slurm jobs
process {
      executor = 'slurm'
      clusterOptions = '--job-name=FFPA --account=nn9305k --mem-per-cpu=4700M'
      queueSize = 24
      maxRetries = 1
      errorStrategy='retry'

      cpus = 4
      time = { 1.h * task.attempt}

      withLabel: 'small' {
        cpus = 1
        time = { 30.m * task.attempt}
        }

        
/*		withName:'TRIM' {
*			container = 'docker://fjukstad/trimmomatic'
*			cpus = 2
*      time = { 30.m * task.attempt}
*		}
*
*		withName:'FASTQC' {
*			container = 'docker://nanozoo/fastqc'
*			cpus = 2
*      time = { 30m * task.attempt}
*		}
*		withName:'NANOFILT' {
*			container = 'ocker://mcfonsecalab/nanofilt'
*			cpus = 4
*      time = { 30m * task.attempt}
*		}
*		withName:'KRAKEN' {
*			container = 'docker://flowcraft/kraken:1.0-0.1'
*			cpus = 8
*      time = { 30m * task.attempt}
*		}
*		withName:'UNICYCLER' {
*			container = 'docker://nanozoo/unicycler:0.4.7-0--c0404e6"'
*			cpus = 8
*      time = { 2h * task.attempt}
*		}
*		withName:'ABRICATE' {
*			container = 'docker://replikation/abricate'
*			cpus = 8
*      time = { 1h * task.attempt}
*		}
*/
}

profiles {
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        }
}
