manifest {
    author = 'Thomas Haverkamp'
    description = 'FullForcePlasmidAssembler: A python pipeline rewritten in Nextflow. The original pipeline can be found here: https://github.com/MBHallgren/FullForcePlasmidAssembler'
    homePage = 'https://github.com/Thomieh73/FFPA_nextflow'
    nextflowVersion = '>=20.07.1'
}

// location of module files:
params.module_dir="./modules"

// all processes are run as slurm jobs
process {
      executor = 'slurm'
      clusterOptions = '--job-name=FFPA --account=nn9305k --mem-per-cpu=4700M'
      queueSize = 24
      maxRetries = 1
      errorStrategy='retry'

      cpus = 4
      time = { 1.h * task.attempt}

      withLabel: 'small' {
        cpus = 1
        time = { 30.m * task.attempt}
        }

      withLabel: 'tiny' {
        cpus = 2
        time = { 30.m * task.attempt}
        }

      withLabel: 'large' {
        cpus = 20
        time = { 30.m * task.attempt}
        }

      withLabel: 'assembly' {
        cpus = 16
        time = { 8.h * task.attempt}
        clusterOptions = '--job-name=FFPA --account=nn9305k --partition=bigmem --mem=100G'
        }

      withLabel: 'bigmem' {
        cpus = 10
        time = { 30.m * task.attempt}
        clusterOptions = '--job-name=FFPA --account=nn9305k --ntasks=1 --partition=bigmem --mem-per-cpu=32000M'
        }

}

profiles {
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.runOptions = "--bind $PWD:$PWD --bind /cluster:/cluster"


        //singularity.cacheDir = $USERWORK/singularity_cache
        }
}
